<!DOCTYPE html>
<html>
<head>
    <title>kristen &amp; andrew</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Fanwood+Text' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400,400italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31702693-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
</head>
<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand <%= is_active?("home#index") %>" href="/"><span class="headline">kristen <span class="highlight">&</span> andrew</span></a>
            <ul class="nav">
                <li class="<%= is_active?("home#registry") %>"><%= link_to "Registry", "https://secure.wanderable.com/hm/kristenlovesandrew", :target => "_blank" %></li>
                <li class="<%= is_active?("home#photos") %>"><%= link_to "Photos", :controller => "home", :action => "photos" %></li>
                <li class="<%= is_active?("rsvp#index") %>"><%= link_to "RSVP", :controller => "rsvp", :action => "index" %></li>
                <li class="<%= is_active?("home#contact") %>"><%= link_to "Contact", :controller => "home", :action => "contact" %></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <%= yield %>

    <footer>
        <p></p>
    </footer>

</div>
<!-- /container -->

</body>
</html>
